<h5>Messages:</h5>

<ul>
  <li *ngFor="let msg of msgs">
    {{msg}}
  </li>
</ul>
<div>Send a Chat message:</div>
<input #mm/>
<button (click)="send(mm.value); mm.value=''">Send</button>

<br><br>

<div>send a POST/GET to server:</div>
<form [formGroup]="userDetailsForm" (ngSubmit)="submitUserDetails()">
  <select formControlName="http">
    <option value="{{HttpMethods.GET}}">GET</option>
    <option value="{{HttpMethods.GET}}">POST</option>
  </select>

  <select formControlName="userType">
    <option>Admin</option>
    <option>User</option>
  </select>

  <select formControlName="userId">
    <option value="{{uid}}" *ngFor="let uid of userIds">{{uid}}</option>
  </select>

  <button type="submit">send</button>

</form>

